body {
    /* background: url(background2.jpeg); */
    
    background-image: url(background2.jpeg) ;
    /* -webkit-background-size: cover; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header,.mission,.statement,.contact{
    color: aliceblue;
}
