body {
    /* background: url(background2.jpeg); */
    
    background-image: url(background2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2%;
   
}

.contact-form,.header,.mission,.statement,.contact-form,.contact{
    color:bisque;
    font-weight:bolder;
   }
